<!DOCTYPE html>
<html lang="en" style="background-image: url(/medias/images_stations/{{searchedStation.image}});">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnowDepth</title>
    <link rel="stylesheet" href="/styleinfos.css">
</head>
<body>
    <header>
        <a href="/home"><img class="logo" src="/medias/logo.png" alt="logo"></a>

        <form action="" method="post" class="search_form" autocomplete="off">

            <div class="search_bar_div">

                <input type="text" name="search" class="search_bar" placeholder="Rechercher" required>
                
                <div class="proposed_list">
                    {{#each allStationsNames}}
                    <button class="proposed_station">{{this}}</button>
                    {{/each}}
                </div>

            </div>

            <input type="submit" name="search_button" class="search_button" value="GO"/>

        </form>

        <a href=""><button class="login_button">Connexion</button></a>
    </header>

    <main>

        <div class="description_div">

            <div class="description_content">
                <h1 class="title">{{searchedStation.name}}</h1>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae exercitationem blanditiis corporis ipsa dolores repellendus illo deserunt sed temporibus eos, doloribus et reprehenderit quam omnis iure optio officia voluptate illum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla iste voluptatum praesentium nostrum harum exercitationem voluptatibus deserunt laudantium minima. Possimus debitis, illo vel at ipsum esse architecto quod impedit animi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem dolore sint maiores fugiat dolores consequuntur impedit maxime iure voluptatibus amet porro non vero expedita saepe labore, tempore, itaque minima accusantium!Lorem</p>
            </div>

        </div>


    <div class="sidebar">

        <button class="display_sidebar_button">></button>
        
        <div class="snow_infos_div">
            
            <h3 class="snow_infos_title">Infos neige</h3><br>
            
            <ul class="snow_infos_list">
                <li class="snow_info">Neige au sommet : {{searchedStation.snowConditions.topSnowDepth}}</li>
                <li class="snow_info">Neige en bas : {{searchedStation.snowConditions.botSnowDepth}}</li>
                <li class="snow_info">Neige fraîche : {{searchedStation.snowConditions.freshSnowfall}}</li>
                <li class="snow_info">Dernière chute : {{searchedStation.snowConditions.lastSnowfallDate}}</li>
            </ul>

        </div>

        <div class="station_info_div">
            
            <h3 class="station_infos_title">Infos station</h3><br>
            
            <ul class="station_infos_list">
                <li class="station_info">Localisation : {{searchedStation.snowConditions.basicInfo.region}}</li>
                <li class="station_info">Altitude maximale : {{searchedStation.snowConditions.basicInfo.topLiftElevation}}</li>
                <li class="station_info">Altitude minimale : {{searchedStation.snowConditions.basicInfo.botLiftElevation}}</li>
            </ul>

        </div>

    </div>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#feefdd" fill-opacity="1" d="M0,96L60,106.7C120,117,240,139,360,165.3C480,192,600,224,720,208C840,192,960,128,1080,128C1200,128,1320,192,1380,224L1440,256L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>

        <section class="weather">

            <h2 class="weather_title">METEO</h2>

            <div class="weather_content">

                {{#each searchedStation.forecast.forecast5Day}}

                    <div class="day">

                        <h3 class="day_name">{{this.dayOfWeek}}</h3>

                        <div class="morning_weather">
                            <p>
                                {{this.am.summary}}
                            </p>
                            <p>Min : {{this.am.minTemp}}</p>
                            <p>Max : {{this.am.maxTemp}}</p>
                            <p>Chuttes de neige : {{this.am.snow}}</p>
                            <p>Pluie : {{this.am.rain}}</p>
                            <p>Vent : {{this.am.windSpeed}}</p>
                        </div>

                        <div class="afternoon_weather">
                            <p>{{this.pm.summary}}</p>
                            <p>Min : {{this.pm.minTemp}}</p>
                            <p>Max : {{this.pm.maxTemp}}</p>
                            <p>Chuttes de neige : {{this.pm.snow}}</p>
                            <p>Pluie : {{this.pm.rain}}</p>
                            <p>Vent : {{this.pm.windSpeed}}</p>
                        </div>

                        <div class="night_weather">
                            <p>{{this.night.summary}}</p>
                            <p>Min : {{this.night.minTemp}}</p>
                            <p>Max : {{this.night.maxTemp}}</p>
                            <p>Chuttes de neige : {{this.night.snow}}</p>
                            <p>Pluie : {{this.night.rain}}</p>
                            <p>Vent : {{this.night.windSpeed}}</p>
                        </div>

                    </div>

                {{/each}}

            </div>

        </section>

        <img class="waves_bright_to_dark" src="/medias/waves1.svg" alt="transition">

        <section class="comments">

            <h2 class="comments_title">AVIS</h2>

            <div class="comment_form_div">

                <form action="" method="post" class="comment_form">
                    <input class="comment_title" type="text" placeholder="Sujet">
                    <textarea class="comment_body" resi type="text" placeholder="Avis"></textarea>
                    <input type="submit" class="submit_comment" value="Poster">
                </form>

            </div>

            <div class="users_comments">

                {{#each allComments}}

                <div class="comment">

                    <h3 class="title_user_comment">{{this.title}}</h2>
                    <p class="body_user_comment">{{this.body}}</p>

                </div>

                {{/each}}

            </div>

        </section>

    </main>

    <footer>

    </footer>

</body>
<script src="/scripts/station_infos_script.js"></script>
</html>